.row{
    display: flex;
    gap: 10px;
    text-align: left;
    padding: 10px;
    position: relative;
    height: 30px;
    align-items: center;
}
.user{
    flex-grow: 1;
}
.avatar{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* padding:1px; */
    /* box-sizing: border-box; */
    transform: translate(-100%,0);
    opacity: 0;
}
.row:hover .avatar{
    opacity: 1;
}
.row:hover{
    background-color: rgba(173, 216, 230, 0.517);
}
.rank{
    font-weight: bold;
}